body {
  margin: 0;
  background: linear-gradient(
    -143.47235600064deg,
    rgba(38, 71, 88, 255) 0%,
    rgba(48, 86, 103, 255) 48%,
    rgba(27, 77, 97, 255) 100%
  );
  height: 100vh;
  overflow-y: hidden;
}
